<!doctype html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Chat - Atendente</title>
      <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500&display=swap" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="../public/stylesheets/chat-atendente.css">
   </head>
   <body>
      <ul id="messages"></ul>
      <form action="">
         <input id="m" autocomplete="off" /><button>Enviar</button>
      </form>
      <script src="/socket.io/socket.io.js"></script>
      <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script>
         $(function () {
         var socket = io();
         $('form').submit(function(){
            socket.emit('chat message', $('#m').val());
            $('#m').val('');
            return false;
         });
         socket.on('chat message', function(msg){
            $('#messages').append($('<li>').text(msg));
         });
         });
      </script>
      <div class="container">
         <div class="col-md-4 menu-lateral">
            <img src="../assets/logotipo_v2.svg" alt="logo"  id="logo-dashboard">
            <div class="row">
               <div class="img-profile">
                  <img src="../assets/profile.jpg" alt="profile" id="profile">
               </div>
               <div class="dash-name">
                  <span class="dash-username"> Bruna  </span>
                  <p> visualizar/editar </p>
               </div>
            </div>
            <hr>
            <div class="col-options">
               <p> 
                  <img src="../assets/calendar.svg" alt="agendamento"> 
                  Agendamento de consultas 
               </p>
               <p> 
                  <img src="../assets/help.svg" alt="agendamento"> 
                  Chat On-line 
               </p>
               <p> 
                  <img src="../assets/co.svg" alt="agendamento">
                  Teleconsulta 
               </p>
               <hr>
               <p> 
                  <img src="../assets/logout.svg" alt="agendamento">
                  Sair
               </p>
            </div>
         </div>
         <div class="col-md-8">
            panel tets
         </div>
      </div>
    
  </body>
</html>
